extends layout

block content
  h1= title
  p Welcome to the #{title} Page
  form(action="/uploads", method="post" enctype="multipart/form-data")
    div.input
        span.label Upload your HAR
        input(type="file", name="har")
    div.actions
        input(type="submit", value="add")
