doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/perf-cascade-full.css')
  body
    block content
      h1= title
      section(class="main-content")
        !{harData}
